@import '../../styles/vars';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.path {
  position: absolute;
  top: 91px;
  left: calc(23px + (100% - 1440px) / 2);
  z-index: 1;
}