@import '../../styles/vars';

.wrapper {
  height: calc(1626px - 124px);
  width: 100%;
  background-image: image-set("../../assets/imgs/background/ocean_1x.jpg" 1x, "../../assets/imgs/background/ocean_2x.jpg" 2x);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top -124px;
}