/* Colors */
$primary: #275553;
$secondary: #f47648;
$black: #212121;
$dark-gray: #5a5a5a;
$gray: #bababa;
$white: #fff;

/* Fonts */
$font-family: "Lato", sans-serif;
$second-family: "Montserrat", sans-serif;
$third-family: "Inter", sans-serif;
$font3: "Roboto", sans-serif;
$font4: "Open Sans", sans-serif;
$font5: "Lateef", sans-serif;

/* Breakpoints */
$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;