/* Colors */
$primary: #275553;
$secondary: #f47648;
$black: #212121;
$dark-gray: #5a5a5a;
$gray: #bababa;
$white: #ffffff;

/* Fonts */
$font-family: "Lato";
$second-family: "Montserrat";
$third-family: "Inter";
$font3: "Roboto";
$font4: "Open Sans";
$font5: "Lateef";

/* Breakpoints */
$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;