@import '../../styles/vars';

.dayseven {
  height: calc(1121px - 33px - 70px);
  background-image: image-set("../../assets/imgs/background/geysers_clouds_1x.jpg" 1x, "../../assets/imgs/background/geysers_clouds_2x.jpg" 2x);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: right;
  background-position-y: top -33px;
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.left_wrapper {
  width: 548px;
  height: 360px;
}

.right_wrapper {
  width: 481px;
  height: 322px;
  margin-top: 48px;
  align-self: flex-end;
}

.title {
  font-family: $third-family;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: $black;
  margin-top: calc(116px - 33px);
  margin-bottom: 48px;

  span {
    color: $secondary;
  }
}

.text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #313131;

  span {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}

.subtitle {
  font-family: $second-family;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: $black;
  margin-top: 48px;
  margin-bottom: 31px;
}

.table {
  width: 481px;
  height: 144px;

  .block {
    height: calc(144px / 2);
    border-bottom: 1px solid $gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 31px 0 9px;

    .block_title {
      font-family: $font-family;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #000000;
    }

    .block_text {
      width: 226px;
      height: 48px;
      font-family: $font-family;
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      color: #313131;
      opacity: 0.7;
    }
  }
}
