@import '../../styles/vars';

.slider {
  position: absolute;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  .cards {
    display: flex;
    flex-direction: row;

    .container {
      position: relative;
    }

    .image {
      width: 100%;
      height: 100%;
      box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.25);
    }

    .currentOverlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }

    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;

    .button {
      width: 38px;
      height: 38px;
    }

    svg {
      height: 38px;
    }

    button:first-child {
      margin-right: 16px;
    }

    button:disabled {
      opacity: 0.5;
    }
  }
}

.slider_banner {
  top: 458px;
  left: 640px;
  width: 704px;
  height: 326px;
  align-items: flex-start;

  .cards {
    align-items: flex-end;
    height: 268px;

    .container {
      margin-right: 35px;
    }

    .currentCard {
      width: 268px;
      height: 268px;
      transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    }

    .card {
      width: 210px;
      height: 210px;
    }

    .currentOverlay {
      height: 165px;
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.78) 0%, rgba(0, 0, 0, 0) 100%);
      padding: 12px;

      p {
        font-family: $font-family;
        font-weight: 700;
        font-size: 14px;
        line-height: 171%;
        color: $white;
      }
    }

    .overlay {
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      padding: 12px;

      p {
        font-family: $font-family;
        font-weight: 500;
        font-size: 14px;
        line-height: 171%;
        color: $white;
        opacity: 0.7;
      }
    }
  }

  .button {
    svg path {
      fill: white;
    }

    svg rect {
      stroke: white;
    }
  }
}

.slider_dayone {
  top: 164px;
  left: 641px;
  width: 703px;
  height: 390px;
  align-items: flex-start;

  .cards {
    align-items: center;
    height: 320px;

    .container {
      margin-right: 32px;
    }

    .currentCard {
      width: 320px;
      height: 320px;
      transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    }

    .card {
      width: 282px;
      height: 282px;
    }

    .currentOverlay {
      height: 160px;
      background: linear-gradient(0deg, #000 1.71%, rgba(0, 0, 0, 0.57) 61.81%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0);
      padding: 24px 16px;

      p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        color: #bdbdbd;
      }

      h6 {
        font-family: $font-family;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: $white;
        margin-bottom: 4px;
      }
    }

    .overlay {
      height: 160px;
      background: linear-gradient(0deg, #000 1.71%, rgba(0, 0, 0, 0.57) 61.81%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0);
      padding: 17px 16px;

      p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 12px;
        line-height: 167%;
        color: #bdbdbd;
      }

      h6 {
        font-family: $font-family;
        font-weight: 700;
        font-size: 14px;
        line-height: 171%;
        color: $white;
        margin-bottom: 4px;
      }
    }
  }

  .button {
    svg path {
      fill: white;
    }

    svg rect {
      stroke: white;
    }
  }
}

.slider_daytwo {
  top: 471px;
  right: 513px;
  width: 831px;
  height: 390px;
  align-items: flex-end;

  .cards {
    align-items: center;
    height: 320px;

    .container {
      margin-left: 32px;
    }

    .currentCard, .card {
      width: 320px;
      height: 320px;
    }

    .currentOverlay, .overlay {
      height: 160px;
      background: linear-gradient(0deg, #000 1.71%, rgba(0, 0, 0, 0.57) 61.81%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0);
      padding: 24px 16px;

      p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        color: $gray;
      }

      h6 {
        font-family: $font-family;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: $white;
        margin-bottom: 4px;
      }
    }
  }

  .button {
    svg path {
      fill: $black;
    }

    svg rect {
      stroke: $black;
    }
  }
}

.slider_daythree {
  top: 49px;
  right: calc(864px - 96px);
  width: calc(672px - 96px);
  height: 413px;
  align-items: flex-end;

  .cards {
    align-items: center;
    height: 320px;

    .container {
      margin-left: 32px;
    }

    .currentCard {
      width: 320px;
      height: 320px;
      transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    }

    .card {
      width: 282px;
      height: 282px;
    }

    .currentOverlay {
      height: 160px;
      background: linear-gradient(0deg, #000 1.71%, rgba(0, 0, 0, 0.57) 61.81%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0);
      padding: 24px 16px;

      p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        color: $gray;
      }

      h6 {
        font-family: $font-family;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: $white;
        margin-bottom: 4px;
      }
    }

    .overlay {
      height: 160px;
      background: linear-gradient(0deg, #000 1.71%, rgba(0, 0, 0, 0.57) 61.81%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0);
      padding: 17px 16px;

      p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 12px;
        line-height: 167%;
        color: $gray;
      }

      h6 {
        font-family: $font-family;
        font-weight: 700;
        font-size: 14px;
        line-height: 171%;
        color: $white;
        margin-bottom: 4px;
      }
    }
  }

  .button {
    svg path {
      fill: $black;
    }

    svg rect {
      stroke: $black;
    }
  }
}

.slider_dayfour {
  top: 162px;
  left: calc(737px - 96px);
  width: calc(1000px - 297px);
  height: 390px;
  align-items: flex-start;

  .cards {
    align-items: center;
    height: 320px;

    .container {
      margin-right: 32px;
    }

    .currentCard {
      width: 320px;
      height: 320px;
      transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    }

    .card {
      width: 282px;
      height: 282px;
    }

    .currentOverlay {
      height: 160px;
      background: linear-gradient(0deg, #000 1.71%, rgba(0, 0, 0, 0.57) 61.81%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0);
      padding: 24px 16px;

      p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        color: $gray;
      }

      h6 {
        font-family: $font-family;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: $white;
        margin-bottom: 4px;
      }
    }

    .overlay {
      height: 160px;
      background: linear-gradient(0deg, #000 1.71%, rgba(0, 0, 0, 0.57) 61.81%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0);
      padding: 17px 16px;

      p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 12px;
        line-height: 167%;
        color: #bdbdbd;
      }

      h6 {
        font-family: $font-family;
        font-weight: 700;
        font-size: 14px;
        line-height: 171%;
        color: $white;
        margin-bottom: 4px;
      }
    }
  }

  .button {
    svg path {
      fill: white;
    }

    svg rect {
      stroke: white;
    }
  }
}



